# Subliem Workspace files are user-specific
*.sublime-workspace
*.sublime-project


# Composer components
/vendor/

#data files for this project
database.db
*.geojson
settings.php
test.php
errorlog.txt
cookie.txt